
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.react">
          <uses-permission android:name="android.permission.READ_SMS" />
          <uses-permission android:name="android.permission.WRITE_SMS" />
          <uses-permission android:name="android.permission.SEND_SMS" />
</manifest>
